.shop-container {

  margin: 4rem 6rem !important;
  background-color: #f8f9fa; 
}
  
.shop-container h1 {
  margin-bottom: 70px;
  color: #343a40; 
}
  
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.product-card {
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05); 
}
