.body {
  padding: 40px 20px;
  background-color: #f7f7fa;
  overflow: hidden;
  position: relative;
}

.teamImages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.teamImage {
  width: calc(33.33% - 20px);
  border-radius: 8px;
  object-fit: cover;
}


